---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eksempel</title>
	</head>
	<body>
		<h1>Første eksempel</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quas beatae voluptatem eaque est debitis natus quisquam voluptates. Voluptatibus delectus odio unde animi consectetur nisi, ducimus asperiores nihil sunt officia.</p>
		<p>Hej hej</p>
		<h2>Ny overskrift</h2>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatem nostrum eaque veniam nemo quidem eos, eligendi porro ducimus minus repellat nesciunt aliquam ut? Cum laborum voluptatibus dolorem autem quidem.</p>
	</body>
</html>
